html,
body {
  position: relative;
  height: 100%;
  margin: 0 auto;
  font-family: "Pretendard", sans-serif;
  background: #f0f2f5;
}

body {
  display:flex;
  justify-content:center;
  align-items:center;
}

.swiper {
  width: 500px;
  height:800px;
}

.swiper-slide {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border-radius: 20px;
  color: #fff;
  font-size: 1.1rem;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
}

.swiper-slide:nth-child(1) { background-color: #6C80A9; }
.swiper-slide:nth-child(2) { background-color: #A7A5C6; }
.swiper-slide:nth-child(3) { background-color: #D3B8D8; }
.swiper-slide:nth-child(4) { background-color: #F3AFAE; }
.swiper-slide:nth-child(5) { background-color: #F8D3A0; color: #333; }
.swiper-slide:nth-child(6) { background-color: #F1E7D5; color: #333; }
.swiper-slide:nth-child(7) { background-color: #ffffff; color: #333; }

h2 {
  margin-bottom: 1rem;
  font-size: 1.5rem;
  font-weight: bold;
}

p {
  margin: 0.5rem 0;
  line-height: 1.6;
  text-align: center;
}